.past {
    padding-top: 35px;

    h2 {
        width: 1353px;
        height: 44px;
        color: white;
        background-color: rgb(243, 48, 48);
        padding-top: 15px;
        font-family: "Roboto", sans-serif;
    }
  }